.ParentHeader {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: baseline;
	align-content: stretch;
	margin-bottom: 60px;
}

.navLink {
	color: black;
	text-decoration: none;
	padding-right: 50px;
	margin-bottom: 60px;
}